<div class="relative flex items-center justify-center mt-20 mb-14">
    <img src=<%= evidenzaimage %> alt="Scarpe" class="mx-auto rounded-xl">
    <div class="absolute text-center text-white bottom-5">
        <h1 class="text-4xl font-bold mt-4"><%= evidenzatitle %></h1>
        <button class="mt-6 mb-2 bg-white text-black px-6 py-3 rounded-full font-semibold hover:bg-gray-200 transition duration-300">
            <%= evidenzabutton %>
        </button>
    </div>
</div>
