<div class="relative w-full h-8/12 bg-cover bg-center aspect-[2/1]" style="background-image: url('<%= heroimage %>');">
    <div class="absolute bottom-4 left-4 sm:bottom-8 sm:left-8 flex flex-col space-y-4 p-4 rounded ">
        <p class="text-base sm:text-xl text-white font-semibold">
            <%= herotext %>
        </p>
        <h1 class="font-extrabold text-white text-2xl sm:text-4xl lg:text-5xl w-full sm:w-10/12 lg:w-8/12 pb-4">
            <%= herotitle %>
        </h1>
        <button class="w-full sm:w-3/12 bg-white text-black px-4 py-2 sm:px-6 sm:py-3 rounded-full font-bold shadow-lg hover:opacity-70 transition-all duration-300 ease-in-out">
            <%= herobuttontext %>
        </button>
    </div>
</div>
