<div class="flex gap-4 mt-20 ml-10 mb-10">
  <!-- Tab attivo -->
  <button class="font-bold text-black underline underline-offset-4">
    <%= titolo %>
  </button>

  <!-- Tab inattivo -->
  <button class="font-bold text-gray-400 hover:text-black">
    <%= sottotitolo %>
  </button>
</div>
